.about {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}
.woman {
  position: relative;
  z-index: 2;
  font-size: 48px;
  text-align: center;
  justify-content: center;
  color: #a3423c;
}
.a {
  width: 150px;
  height: 150px;
}
.aboutpr {
  display: flex;
}
.pic {
  width: 300px;
  height: 300px;
  text-align: center;
  margin-left: 50px;
}
.span {
  color: #a3423c;
}
.span h2 {
  font-size: 1.85rem;
  font-family: "Vesper Libre", serif;
}
.tag {
  font-size: 1.25rem;
  font-family: "Vesper Libre", serif;
  color: #a3423c;
}
.par {
  z-index: -1 !important;
  position: relative;
}
