.about {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  margin-top: 230px;
}
.woman {
  position: relative;

  z-index: 2;
  font-size: 48px;
  text-align: center;
  justify-content: center;
  color: #a3423c;
}
.a {
  width: 150px;
  height: 150px;
}
.aboutpr {
  display: flex;
}
.pic {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 300px;
  margin-left: 100px;
}
.span {
  color: #a3423c;
  position: relative;
  z-index: 2;
  margin-left: 170px;
}
.span h2 {
  font-size: 1.85rem;
  font-family: "Vesper Libre", serif;
}
.tag {
  font-size: 1.25rem;
  font-family: "Vesper Libre", serif;
  color: #a3423c;
}
.par {
  z-index: -1 !important;
  position: relative;
}
