.file {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.new {
  display: flex;
  align-items: center;
}
.h2 {
  color: #494ca2;
  font-size: 2rem;
  font-family: "Italianno", cursive;
}
.a_tag {
  text-decoration: none;
  color: #494ca2;
  font-size: 1.5rem;
  font-family: "Italianno", cursive;
  justify-content: space-between;
  transition: 0.5s all;
}
.a_tag:hover {
  color: pink;
  transform: scale(1.2);
}
.MenuItems {
  display: flex;
  justify-content: center;
}
.MenuItems li {
  list-style: none;
  margin: 0 20px;
  margin-top: 30px;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 30px;
}
