.contact {
  background-image: url(../../../public/img/contact.jpeg);
  width: 100%;
  opacity: 0.5;
}
.garchig {
  color: rgb(64, 195, 195);
  text-align: center;
  font-size: 2.5rem;
}
.barih {
  position: absolute;
}
img {
  position: relative;
}
.in {
  width: 250px;
  height: 40px;
  gap: 20px;
  display: flex;
}
.flex {
  display: flex;
  align-items: center;
}
.icon {
  height: 40px;
  width: 50px;
}
.hi {
}
