.contact {
  background-image: url(../../../public/img/contact.jpeg);
  width: 100%;
  opacity: 0.5;
}
.garchig {
  color: rgb(64, 195, 195);
  text-align: center;
  font-size: 2.5rem;
}
.barih {
  position: absolute;
}
img {
  position: relative;
}
.input {
  width: 100px;
  display: flex;
}
