.mytext {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  position: relative;
}
.Text {
  color: #8186d5;
  margin-left: 70px;
  position: relative;
  z-index: 2;
  font-family: "Cambo", serif;
  padding-top: 200px;
}

.video {
  z-index: -1;
}

#hero {
  height: 60vh;
}
.social {
  position: relative;
  z-index: 3;
}
.mytext h2 {
  color: #8186d5;
}
.icon {
  display: flex;
  gap: 20px;
}
